header {
    background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/5888.jpg");
    color: #ffffff;
    height: 60px;
    font-size: 14px;
    font-weight: bold;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "leftHeader rightHeader";
}

a:link {
    color: white;
}

a:visited {
    color: white;
}